.projectPage {
    /** Setting the bg and text colors, along with font types */
    color: #333333;
    background-color: #DDDDDD;
    font-family: Palatino, serif;
}

.middle-div {
    display: flex;
    flex-direction: column;

    /* Align Horizontally */
    align-items: center;

    padding: 10px;
}

.spacer {
    flex: 1;
}

.project-div {
    /* Display the Project in Columns of 2 */
    display: flex;
    flex-direction: column;

    /* Center horizontally */
    width: 100%;
    justify-content: center;

    /* Creating Space and centering the cards */
    margin: 0 auto;
    padding: 0 10px;
}

.project-div h1 {
    border-bottom: 2px solid #1A1919;
    /* Child Header of Project Div */
    margin: 15px 0;
    width: 70%;

    /* Align the project horizontally cos the main axis is y as it is a col right now */
    justify-content: center;
    align-items: center;
}

.project-grid {
    /* Space between cards and space them evenly */
    gap: 10px;
    justify-content: space-evenly;

    display: grid;
    /* creates exactly 2 columns, each taking up an equal fraction (1fr) of the available space.  */
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
    margin: 0 auto; /* Center the container */
}