* {
    /** Ensures that the box includes the padding and border as part of the element*/
    box-sizing: border-box;
}

.navbar {
    /** Space the links efficiently */
    justify-content: space-between;

    /** Ensure the 3 Sections of Logo, Links, and Actions are horizontal */
    display: flex;
    flex-direction: row;

    /** Set the Padding Color to Black, while Text is White */
    background-color: #3D3D3D;
    color: #DDDDDD;

    /** Ensure the navbar stays while scrolling */
    position: sticky;
    /** Tells the navbar where to stick from */
    top: 0;
    /* Ensure navbar is always the first element on top */
    z-index: 9999999;
}

.navbar-logo {
    /** Spaced out a little, so it doesnt touch the end */
    margin-left: 10px;
}

.navbar-link-container {
    /** Ensure the Navlinks are stacked horizontally */
    display: flex;
    flex-direction: row;

    /** Make the Items align vertically */
    align-items: center;
}

.navbar-link {
    /** For each navlink to appear as a button */
    padding: 5px 10px; /** xy dirn, then left right */
    margin: 0px 10px;
    border: 2px solid #1A1919;
    border-radius: 10%; /** Set border to be rounded */

    list-style-type: none;
    background-color: #5F5F5F;
}

.navbar-link a {
    /** Targets the <a> tag within the li tag of navbar-link */
    text-decoration: none; /** Remove the underlining of links */
    color: inherit; /** Text color follow parents */
}

.navbar-link:hover {
    /** Button to become darker while hovering. Must change color according to what the navbar-link color is */
    background-color: #1F1F1F;
}

.navbar-link.active {
    /** Assigned to button that is currently clicked, i.e. which button we are on */
    background-color: #1F1F1F; /** Changed to hover color permanently */
}

/* Remove default button styling */
.no-style-button {
    background: #5F5F5F;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    text-align: left;
}

.no-style-button:hover {
    /** Button to become darker while hovering. Must change color according to what the navbar-link color is */
    background-color: #1F1F1F;
}

.no-style-button.active {
    /** Assigned to button that is currently clicked, i.e. which button we are on */
    background-color: #1F1F1F; /** Changed to hover color permanently */
}