<!-- Navbar -->

<nav class="navbar">
    <div class="mobile-navbar">
        <!-- Nav Links for Users -->
        <div class="navbar-logo">
            <!-- TODO Insert an image tag here-->
            <h3>🦭 Xuannie</h3>
        </div>

        <!-- Mobile View Menu Button -->
        <div class="navbar-toggle" (click)="toggleNavbar()">☰</div>
    </div>

    <div class="navbar-logo web-logo">
        <!-- TODO Insert an image tag here-->
        <h3>🦭 Xuannie</h3>
    </div>
    
    <!-- Assigns the show class if navbarOpen is true -->
    <ul class="navbar-link-container" [ngClass]="{'show': navbarOpen}">
        <!-- routerLinkActive="active" assigns the class active to the link when clicked, allowing us to display CSS properties to make it look clicked -->
        <li class="navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="" routerLink="/home">💾 Home</a>
        </li>
        <li class="navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/about">🔍 About</a>
        </li>
        <li class="navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/projects">📹 Projects</a>
        </li>
        
    </ul>

    <!-- User Actions -->
    <!-- Assigns the show class if navbarOpen is true -->
    <div class="navbar-link-container" [ngClass]="{'show': navbarOpen}">
        <li class="navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a href="https://github.com/Xuanniee" target="_blank">📺 Github</a>
        </li>
        <li class="navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a href="https://www.linkedin.com/in/ng-xuan-yi-301037200/" target="_blank">🎴 LinkedIn</a>
        </li>
        <!-- <li class="navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/contact">📠 Contact Me</a>
        </li>
        <li class="navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <button class="no-style-button">🥮 Dark Mode</button>
        </li> -->
    </div>
</nav>  

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>