.home-content-div {
    display: flex;
    flex-direction: row;
    
    /* Prevent touching navbar */
    margin: 10px;
}

.spacer {
    flex: 1;
}

.self-introduction {
    /* Put side by side */
    display: flex;
    flex-direction: row;

    justify-content: center; /* Space between the items if you want extra space between them */
}

.self-introduction > div {
    padding: 10px; /* Optional: add padding for spacing */
}

.self-introduction-content {
    display: flex;              /* Make the container a flex container */
    flex-direction: column;     /* Align children vertically */
    justify-content: center;    /* Center children vertically */
    font-family: serif, Tahoma;
    font-size: large;
    padding: 3px;
    max-width: 25%;
    height: 100%;                /* Ensure the container takes full height if needed */
}


/* Container for the entire content of the middle section */
.middle-div {
    display: flex;
    flex-direction: column;
    /* Align Horizontally */
    align-items: center;

    padding: 10px;
}