.home-content-div {
    display: flex;
    flex-direction: row;
    font-family: Palatino, serif;
    
    /* Prevent touching navbar */
    margin: 10px;
}

.spacer {
    flex: 1;
}

.self-introduction {
    /* Put side by side */
    display: flex;
    flex-direction: row;

    justify-content: center; /* Space between the items if you want extra space between them */
}

.self-introduction > div {
    padding: 10px; /* Optional: add padding for spacing */
}

.self-introduction-content {
    display: flex;              /* Make the container a flex container */
    flex-direction: column;     /* Align children vertically */
    justify-content: center;    /* Center children vertically */
    font-size: large;
    padding: 3px;

    /* Take up all avail width */
    width: 100%;        
    max-width: 30%;
    height: 100%;                /* Ensure the container takes full height if needed */
}


/* Container for the entire content of the middle section */
.middle-div {
    display: flex;
    flex-direction: column;
    /* Align Horizontally */
    align-items: center;

    padding: 10px;
}

/* Container for all middle section containers */
.middle-section {
    width: 100%;
    max-width: 70%;

    /* Center the div */
    justify-content: center;
}

/* Project Card in Homepage */
.homepage-projects {
    /* Space between cards and space them evenly */
    gap: 5px;
    justify-content: space-evenly;

    display: grid;
    /* creates exactly 2 columns, each taking up an equal fraction (1fr) of the available space.  */
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
    margin: 0 auto; /* Center the container */
}

.middle-section h3{
    font-size: larger;
    font-weight: 700;

    border-bottom: 2px solid #1A1919;
    margin-bottom: 10px;
}

.middle-section h4{
    font-size: large;
    font-weight: 300;

    margin-bottom: 5px;
    padding-left: 10px;
}

/* Container for Company & Date */
.experience-header-div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Common styling for date and company buttons */
.experience-company, .experience-date {
    /* Aesthetics */
    font-size: medium;
    font-weight: 600;
    border: 3px solid black;
    border-radius: 10px;

    /* Separate from the each other company and date */
    margin: 5px 10px;
    padding: 3px 6px;
}

.experience-date {
    background-color: #4A4949;
    color: #DDDDDD;
    /* base: #DDDDDD,
    primary: #3D3D3D,
    accent: #1A1919
    word: #333333 */
}

.experience-company {
    background-color: cadetblue;
}

/* Third Party Plugins */
.plugin-container {
    display: flex;
    flex-direction: row;

    /* Center */
    width: 100%;
    justify-content: center;
    align-items: center;

    margin: 20px 0;
}

/* Title for Plugins */
.plugin-logo {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
    justify-content: center;
    align-items: center;

    margin-right: 100px;
}

/* Homepage Buttons Styling */
.homepage-button {
    /** For each navlink to appear as a button */
    padding: 5px 10px; /** xy dirn, then left right */
    margin: 0px 10px;
    border: 2px solid #1A1919;
    border-radius: 10%; /** Set border to be rounded */
    background-color: #5F5F5F;

    /** Targets the <a> tag within the li tag of navbar-link */
    text-decoration: none; /** Remove the underlining of links */
    color: #DDDDDD; /** Text color follow parents */
}

.homepage-button:hover {
    /** Button to become darker while hovering. Must change color according to what the navbar-link color is */
    background-color: #1F1F1F;
}

/* Styling to ensure the button and header title share the same border line */
.middle-section-menu {
    position: relative; /* Make the container relative to position child elements absolutely */
    margin-top: 10px;
}

.middle-section-menu h3 {
    border-bottom: 2px solid #1A1919; /* Adjust the border style as needed */
    margin: 0; /* Remove default margins */
    padding-bottom: 10px; /* Add some padding if needed to create space for the border */
}

.middle-section-menu a.homepage-button {
    position: absolute; /* Position absolutely within the relative parent */
    bottom: 0; /* Align to the bottom of the parent */
    right: 0; /* Align to the right end of the parent */

    background: #5F5F5F;
    color: #DDDDDD;
    padding: 5px 10px; /* Add padding for better appearance */
    margin-bottom: 10px;
    text-decoration: none; /* Remove underline from the link */
}