<div class="homepage">
    <app-navbar></app-navbar>

    <div class="home-content-div">
        <div class="spacer"></div>
        
        <div class="middle-div">
            <div class="self-introduction">
                <div class="self-introduction-content">
                    <h1>Hello, I'm Xuan Yi</h1>
                    <p>I'm an aspiring software engineer who is currently studying Computer Science at Nanyang Technological University.</p>
        
                    <p>On my site, you can check out my personal projects, my internship experiences, or learn more about me!</p>
                </div>

                <img src="/assets/pan-pan-profile.png" alt="Picture of Pan Pan" />
            </div>

            <div class="middle-section">
                <h3>Professional Experiences</h3>
                <div class="experience-div">
                    <h4>Bytedance Singapore</h4>
                    <div class="experience-header-div">
                        <span class="experience-company">Site Reliability Engineer Intern, Traffic Platform</span>
                        <span class="experience-date">Aug 2025 - Present</span>
                    </div>
                    <div class="experience-body-div">
                        <ul>
                            <li>
                                Upcoming internship with confirmed responsibilities including configuration and deployment of L7 load balancers, and lifecycle operations of Kubernetes clusters such as upscaling and downscaling; will also be involved in additional tasks across the traffic platform as the internship progresses.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="experience-div">
                    <h4>Tencent Singapore</h4>
                    <div class="experience-header-div">
                        <span class="experience-company">Site Reliability Engineer Intern</span>
                        <span class="experience-date">May 2025 - Aug 2025</span>
                    </div>
                    <div class="experience-body-div">
                        <ul>
                            <li>
                                Reverse engineered Dune: Awakening APIs by analysing HTTP traffic via a MITM proxy, and built automated backend processes to acquire, refresh, and sync game server data without official documentation or API keys.
                            </li>
                            <li>
                                Leveraged this data to develop and containerize a real-time status web application for Dune: Awakening using Docker Compose, enabling internal users to monitor live player population, battleground metrics, and server activity across multiple regions.
                            </li>
                            <li>
                                Designed and deployed an SRE monitoring pipeline using Prometheus, AlertManager, and Node Exporter to track application uptime, server health, performance, and user engagement.
                            </li>
                            <li>
                                Containerized the monitoring infrastructure with Docker Compose, integrated Grafana for real-time visualizations, and implemented automated Slack alerting—exposing backend and frontend metrics to ensure robust observability and rapid incident response.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="experience-div">
                    <h4>DSO National Laboratories</h4>
                    <div class="experience-header-div">
                        <span class="experience-company">Software Engineer Intern</span>
                        <span class="experience-date">Jan 2025 - May 2025</span>
                    </div>
                    <div class="experience-body-div">
                        <ul>
                            <li>
                                Maintained and enhanced Warden, an internal OS hardening web platform where users upload PC details to enable remote hardening via SSH based on CIS security benchmarks. Key improvements included replacing WinRM with SSH to allow secure, internet-free installations, and introducing Swagger API documentation to streamline developer onboarding and facilitate API testing.
                            </li>
                            <li>
                                Built a Linux policy parser to extract rule metadata, audit, and remediation bash scripts from CIS benchmark PDFs, and developed a corresponding setup script to configure remote Linux PCs with SSH access and required files for hardening via Ansible using Warden.
                            </li>
                            <li>
                                Implemented full-stack Linux hardening functionality, allowing the backend to execute Ansible playbooks for file transfer and rule enforcement, with real-time WebSocket updates to the frontend on execution progress and issues.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="experience-div">
                    <h4>Continental Automotives Singapore Pte Ltd</h4>
                    <div class="experience-header-div">
                        <span class="experience-company">Software Engineer Intern</span>
                        <span class="experience-date">July 2024 - Nov 2024</span>
                    </div>
                    <div class="experience-body-div">
                        <ul>
                            <li>
                                Developed a custom Jenkins plugin that integrates memory leak detection using fuzzing algorithms within the CI/CD pipeline, enabling early identification of memory issues and improving software stability.
                            </li>
                            <li>
                                Implemented an Express.js server to automate Docker container deployment for fuzzing tests, with automated crash reporting that saves problematic seed files and error outputs, enhancing error tracking and troubleshooting.
                            </li>
                            <li>
                                Improved developer efficiency by integrating detailed logging and storing error files in Jenkins build artifacts, providing accessible data for faster debugging and resolution.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="experience-div">
                    <h4>EV-Electric (EVe) Pte Ltd</h4>
                    <div class="experience-header-div">
                        <span class="experience-company">Data Analyst Intern</span>
                        <span class="experience-date">May 2023 - July 2023</span>
                    </div>
                    <div class="experience-body-div">
                        <ul>
                            <li>
                                Developed a web scraping script to extract EV Charger locations and associated EV Operators in Singapore for geo-spatial analysis, facilitating strategic installation of additional or fast EV chargers.
                            </li>
                            <li>
                                Automated data report generation by centralising datasets, resulting in a monthly time savings of 10 manpower hours previously spent on compilation.
                            </li>
                            <li>
                                Analysed and visualised EV owners' charging behaviour, identifying over-subscribed carparks and recommending areas for additional charger deployment.
                            </li>
                            <li>
                                Created scripts to scrape and monitor daily petrol and EV charging prices in Singapore, aiding in market price analysis.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="middle-section">
                <div class="middle-section-menu">
                    <h3>Notable Projects</h3>
                    <a class="homepage-button" routerLink="/projects">All Projects</a>
                </div>
                
                <div class="homepage-projects">
                    <app-projectcard
                        *ngFor="let repo of repoData"
                        [repoData]=repo
                        [githubColors]=githubColors
                    >
                    </app-projectcard>
                </div>
            </div>

            <div class="middle-section">
                <h3>Statistics</h3>

                
                <div class="plugin-container">
                    <div class="plugin-logo">
                        <span>Leetcode</span>
                        <img src="assets/leetcode-logo.png" alt="Leetcode Logo">
                    </div>
                    

                    <a href="https://leetcode.com/Xuanniee" target="_blank" rel="noopener noreferrer">
                        <img src="https://leetcard.jacoblin.cool/Xuanniee" alt="Leetcode Stats">
                    </a>
                </div>
    
                <div class="plugin-container">
                    <div class="plugin-logo">
                        <span>Github</span>
                        <img src="assets/github-logo.png" alt="Github Logo">
                    </div>
                    

                    <a href="https://github.com/Xuanniee/github-readme-stats">
                        <img height=200 width=auto align="center" src="https://github-readme-stats.vercel.app/api?username=Xuanniee" />
                    </a>
                </div>
            </div>

            <div class="middle-section">
                <h3>Let's Chat</h3>

                <div>
                    <p>You can reach out to me via these platforms or via <a href="github.com/Xuanniee">Github</a>/<a href="linkedin.com/in/ng-xuan-yi-301037200/">LinkedIn</a>:</p>
                    <ul>
                        <li><span class="contact-platform">Email:</span> xuanyi1603&#64;gmail.com</li>
                        <li><span class="contact-platform">Discord:</span> michelinman_xuanyi</li>
                    </ul>
                </div>
            </div>
            
        </div>

        <div class="spacer"></div>
    </div>
</div>