<div class="homepage">
    <app-navbar></app-navbar>

    <div class="home-content-div">
        <div class="spacer"></div>
        
        <div class="middle-div">
            <div class="self-introduction">
                <div class="self-introduction-content">
                    <h1>Hello, I'm Xuan Yi</h1>
                    <p>I'm an aspiring software engineer who is currently studying Computer Science at Nanyang Technological University.</p>
        
                    <p>On my site, you can check out my personal projects, my internship experiences, or learn more about me!</p>
                </div>
    
                <div>
                    <a href="https://leetcode.com/Xuanniee" target="_blank" rel="noopener noreferrer">
                        <img src="https://leetcard.jacoblin.cool/Xuanniee?ext=activity" alt="Leetcode Stats">
                    </a>
                </div>
            </div>

            <div>
                <a href="https://github.com/Xuanniee/github-readme-stats">
                    <img height=200 align="center" src="https://github-readme-stats.vercel.app/api?username=Xuanniee" />
                </a>
                <a href="https://github.com/Xuanniee/convoychat">
                    <img height=200 align="center" src="https://github-readme-stats.vercel.app/api/top-langs?username=Xuanniee&layout=compact&langs_count=8&card_width=320" />
                </a>
            </div>

            <div class="professional-experiences">
                <h3>Professional Experiences:</h3>



            </div>
            
        </div>
        

        


        <div class="spacer"></div>
    </div>
</div>