<div class="homepage">
    <app-navbar></app-navbar>

    <div class="home-content-div">
        <div class="spacer"></div>
        
        <div class="middle-div">
            <div class="self-introduction">
                <div class="self-introduction-content">
                    <h1>Hello, I'm Xuan Yi</h1>
                    <p>I'm an aspiring software engineer who is currently studying Computer Science at Nanyang Technological University.</p>
        
                    <p>On my site, you can check out my personal projects, my internship experiences, or learn more about me!</p>
                </div>

                <img src="/assets/pan-pan-profile.png" alt="Picture of Pan Pan" />
            </div>

            <div class="middle-section">
                <h3>Professional Experiences</h3>

                <div *ngFor="let internship of internships ?? []" class="experience-div">
                    <h4>{{ internship.intern_title }}</h4>
                    <div class="experience-header-div">
                        <span class="experience-company">{{ internship.company }}</span>
                        <span class="experience-date">
                            {{ internship.start_date | date:'MMM yyyy' }} - {{ internship.end_date | date:'MMM yyyy' }}
                        </span>
                    </div>

                    <div class="experience-body-div">
                        <ul>
                            <li *ngFor="let achievement of internship.achievements">{{ achievement.details }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="middle-section">
                <div class="middle-section-menu">
                    <h3>Notable Projects</h3>
                    <a class="homepage-button" routerLink="/projects">All Projects</a>
                </div>
                
                <div class="homepage-projects">
                    <app-projectcard
                        *ngFor="let repo of repositoriesData"
                        [repoData]=repo
                        [githubColors]=githubColors
                    >
                    </app-projectcard>
                </div>
            </div>

            <div class="middle-section">
                <h3>Statistics</h3>
                
                <div class="plugin-container">
                    <div class="plugin-logo">
                        <span>Leetcode</span>
                        <img src="assets/leetcode-logo.png" alt="Leetcode Logo">
                    </div>
                    

                    <a href="https://leetcode.com/Xuanniee" target="_blank" rel="noopener noreferrer">
                        <img src="https://leetcard.jacoblin.cool/Xuanniee" alt="Leetcode Stats">
                    </a>
                </div>
    
                <div class="plugin-container">
                    <div class="plugin-logo">
                        <span>Github</span>
                        <img src="assets/github-logo.png" alt="Github Logo">
                    </div>
                    

                    <a href="https://github.com/Xuanniee/github-readme-stats">
                        <img height=200 width=auto align="center" src="https://github-readme-stats.vercel.app/api?username=Xuanniee" />
                    </a>
                </div>
            </div>

            <div class="middle-section">
                <h3>Let's Chat</h3>

                <div>
                    <p>You can reach out to me via these platforms or via <a href="github.com/Xuanniee">Github</a>/<a href="linkedin.com/in/ng-xuan-yi-301037200/">LinkedIn</a>:</p>
                    <ul>
                        <li><span class="contact-platform">Email:</span> xuanyi1603&#64;gmail.com</li>
                        <li><span class="contact-platform">Discord:</span> michelinman_xuanyi</li>
                    </ul>
                </div>
            </div>
            
        </div>

        <div class="spacer"></div>
    </div>
</div>