<div class="aboutpage">
    <app-navbar></app-navbar>

    <div class="about-div">
        <div class="spacer-div"></div>
        <div class="about-content">
            <h1 class="about-header">About Me</h1>

            <p>
                Hey there! I'm Xuan Yi, and I'm excited to share a bit about what I’m working on. Currently, I’m developing an anime streaming website where fans can discover and enjoy their favorite shows. 
                Alongside that, I’ve completed a bus app designed to track bus arrival timings and make public transportation more efficient.
            </p>
            <p>
                When I’m not immersed in coding, you’ll find me indulging in my love for music and games. I’m a vinyl aficionado and cassette collector, always on the 
                lookout for fantastic audio gear like headphones and speakers. My passion for music is matched by my enthusiasm for board games—strategizing with friends and discovering new games is one of my favorite pastimes.
            </p>
            <p> 
                Welcome to my corner of the web, where I blend my interests and projects. Feel free to reach out if you share my passions or just want to chat!
            </p>

            <h2 class="about-header">My Resume</h2>
            <p>You may view my resume by downloading it here!</p>

            <h2 class="about-header">What I'm Doing Now</h2>
            <ul>
                <li>Interning at Continental Automotives Singapore as a software engineer</li>
                <li>Building a video streaming website using the PERN Stack</li>
            </ul>

            <h2 class="about-header">Skills</h2>
            <h3>Coding Languages</h3>
            <div class="icons-div">
                <div class="icon-container">
                    <img src="assets/c-logo.png" alt="C Logo" width="100" height="100" class="icon-image" />
                    <span>C</span>
                </div>

                <div class="icon-container">
                    <img src="assets/c-plusplus.svg" alt="C++ Logo" width="100" height="100" class="icon-image" />
                    <span>C++</span>
                </div>

                <div class="icon-container">
                    <img src="assets/css-3.svg" alt="CSS Logo" width="100" height="100" class="icon-image" />
                    <span>CSS</span>
                </div>

                <div class="icon-container">
                    <img src="assets/html-5.svg" alt="HTML Logo" width="100" height="100" class="icon-image" />
                    <span>HTML</span>
                </div>

                <div class="icon-container">
                    <img src="assets/java.svg" alt="Java Logo" width="100" height="100" class="icon-image" />
                    <span>Java</span>
                </div>

                <div class="icon-container">
                    <img src="assets/javascript.svg" alt="Javascript Logo" width="100" height="100" class="icon-image" />
                    <span>Javascript</span>
                </div>

                <div class="icon-container">
                    <img src="assets/kotlin-icon.svg" alt="Kotlins Logo" width="100" height="100" class="icon-image" />
                    <span>Kotlins</span>
                </div>

                <div class="icon-container">
                    <img src="assets/python.svg" alt="Python Logo" width="100" height="100" class="icon-image" />
                    <span>Python</span>
                </div>

                <div class="icon-container">
                    <img src="assets/r-logo.png" alt="R Logo" width="100" height="100" class="icon-image" />
                    <span>R</span>
                </div>
                
            </div>


            <h3>Frontend Frameworks</h3>
            <div class="icons-div">
                <div class="icon-container">
                    <img src="assets/angular-icon.svg" alt="Angular Logo" width="100" height="100" class="icon-image" />
                    <span>Angular</span>
                </div>

                <div class="icon-container">
                    <img src="assets/jetpack-compose.png" alt="Jetpack Compose Logo" width="100" height="100" class="icon-image" />
                    <span>Android Jetpack Compose</span>
                </div>

                <div class="icon-container">
                    <img src="assets/bootstrap.svg" alt="Bootstrap Logo" width="100" height="100" class="icon-image" />
                    <span>Bootstrap</span>
                </div>

                <div class="icon-container">
                    <img src="assets/react.svg" alt="React Logo" width="100" height="100" class="icon-image" />
                    <span>React</span>
                </div>
            </div>

            <h3>Backend Frameworks</h3>
            <div class="icons-div">
                <div class="icon-container">
                    <img src="assets/django-icon.svg" alt="Django Logo" width="100" height="100" class="icon-image" />
                    <span>Django (Python)</span>
                </div>

                <div class="icon-container">
                    <img src="assets/expressjs-icon.svg" alt="Express.js Logo" width="100" height="100" class="icon-image" />
                    <span>Express.js (Javascript)</span>
                </div>

                <div class="icon-container">
                    <img src="assets/flask.svg" alt="Flask Logo" width="100" height="100" class="icon-image" />
                    <span>Flask (Python)</span>
                </div>

                <div class="icon-container">
                    <img src="assets/nodejs.svg" alt="Node.js Logo" width="100" height="100" class="icon-image" />
                    <span>Node.js (Javascript)</span>
                </div>
            </div>

            <h3>Databases</h3>
            <div class="icons-div">
                <div class="icon-container">
                    <img src="assets/sqlite.svg" alt="SQLite3 Logo" width="100" height="100" class="icon-image" />
                    <span>SQLite3</span>
                </div>

                <div class="icon-container">
                    <img src="assets/mongodb-icon.svg" alt="MongoDB Logo" width="100" height="100" class="icon-image" />
                    <span>MongoDB</span>
                </div>
            </div>

            <h3></h3>

            <h3>Miscellaneous</h3>
            <div class="icons-div">
                <div class="icon-container">
                    <img src="assets/aws.svg" alt="AWS Logo" width="100" height="100" class="icon-image" />
                    <span>AWS</span>
                </div>

                <div class="icon-container">
                    <img src="assets/docker-icon.svg" alt="Docker Logo" width="100" height="100" class="icon-image" />
                    <span>Docker</span>
                </div>

                <div class="icon-container">
                    <img src="assets/git-icon.svg" alt="Git Logo" width="100" height="100" class="icon-image" />
                    <span>Git</span>
                </div>

                <div class="icon-container">
                    <img src="assets/linux-icon.svg" alt="Linux Logo" width="100" height="100" class="icon-image" />
                    <span>Linux</span>
                </div>
            </div>
        </div>
        <div class="spacer-div"></div>
    </div>
</div>