/* You can add global styles to this file, and also import other style files */
/* Reset margin and padding for the root HTML and body */
html, body {
    margin: 0;
    padding: 0;

    /** To ensure the entire view port is taken **/
    width: 100%;
    height: 100%;
    /* base: #DDDDDD,
    primary: #3D3D3D,
    accent: #1A1919
    word: #333333 */
    background-color: #DDDDDD;
    color: #333333
}

/* Ensure all elements use border-box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}
  